<div class="container pt-3">
  <h1>レシピ一覧</h1>
</div>

<div class="container">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe do %>
      <%= attachment_image_tag recipe, :image %>
    <% end %>
    <%= link_to recipe.user do %>
      <%= attachment_image_tag recipe.user, :profile_image, fallback: 'no_image.png' %>
      <br>
      <%= recipe.user.username %>
      <br>
      <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
    <% end %>
  <% end %>
</div>