<div class="container">
  <h1 class='py-3'>新規レシピ</h1>
</div>

<div class="container">
  <%= form_with model: @recipe do |f| %>

    <div class="row">
      <%= f.label :title, 'タイトル', class: '' %>
      <%= f.text_field :title %>
    </div>

    <div class="row">
      <%= f.label :body, '作り方' %>
      <%= f.text_area :body %>
    </div>

    <div class="row">
      <%= f.label :image, '写真' %>
      <%= f.attachment_field :image %>
    </div>

    <%= f.submit '投稿' %>
  <% end %>
</div>